.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 185px);
}
.cards_products{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.closed{
    display: flex;
    justify-content: flex-end;
    margin-bottom: -15px;
    z-index: 1;
    cursor: pointer;
}
.imageBooks{
    margin: 0.5rem;
    height: 100px;
}
.Cart ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.Cart li{
    margin: 5px;
}
.product_books {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 1rem;
  background: rgba(224, 184, 139, 0.51);
  border-radius: 8px;
}
.infoproduct_books {
  display: flex;
  flex-direction: row;
}
.arrowleft {
  width: 40px;
  height: 40px;
  background-image: url(../../Assets/svg/arrowleft.svg);
  background-size: cover;
  background-color: transparent;
  border: transparent;
}
.arrowleft:hover {
  transform: scale(1.1);
}
.arrowright {
  width: 40px;
  height: 40px;
  background-image: url(../../Assets/svg/arrowright.svg);
  background-size: cover;
  background-color: transparent;
  border: transparent;
}
.arrowright:hover {
  transform: scale(1.1);
}
.counter_products {
  display: flex;
  flex-direction: row;
  width: 160px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.25);
  padding-left: 5px;
  padding-right: 5px;
}
