@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.Catalog{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 185px);
    padding: 0px;
}

.personalizer_products {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0b88b;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  box-shadow: 4px 4px 3px 1px rgba(0, 0, 0, 0.25);
  border: transparent;
  width: 170px;
  height: 50px;
  margin-top: 3rem;
  font-family: 'Montserrat';
  font-size: 16px;
}
.personalizer_products:hover{
  cursor: pointer;
}
.price_products {
  display: flex;
  width: 160px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  padding-left: 5px;
  padding-right: 5px;
}
.price_products p {
  padding: 0;
  text-align: center;
}
.counterPrice_container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  font-size: 20px;
  text-align: center;
}
