@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  margin: 0;
  background-color: #f5e4d4;
  background-image: url(./Assets/img/Fondo/Fondo.png);
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: -10vh 5vh;
  font-family: 'Montserrat';
  height: auto;
}
html{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media screen and (min-width: 700px) {
  body {
    background-image: url(./Assets/img/Fondo/Fondo.png);
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
